<h2><%= @doctor.name%></h2>
<p>
  Department: <%= @doctor.department %>
</p>
Appointments:<br>
  <% @doctor.appointments.each do |appt| %>
    <%= link_to appt.patient.name, patient_path(appt.patient) %> Date:
    <%= appt.appointment_datetime.strftime("%B %e, %Y at %H:%M") %> <br>
  <% end %>